{% assign press = site.data.data.press %}
{% if press %}
<section class="section summary-section">

  <h2 class="section-title">
    <span class="fa-stack fa-xs">
      <i class="fas fa-circle fa-stack-2x"></i>
      <i class="fas fa-newspaper fa-stack-1x fa-inverse"></i>
    </span>
    {{ press.title }}
  </h2>

  <div class="summary">
    {{ press.summary | markdownify }}
  </div><!--//summary-->
  
  {% if press.items %}
    {% for press in press.items %}
      <div class="press-item">
        {% if press.title %}
          <div class="press-title">{{ press.title }}</div>
        {% endif %}
        
        {% if press.description %}
          <div class="press-description">
            {{ press.description | markdownify }}
          </div>
        {% endif %}
      </div><!--//press-item-->
    {% endfor %}
  {% endif %}
    
</section><!--//section-->
{% endif %}