{% assign projects = site.data.data.projects %}
{% if projects %}
<section class="section summary-section">

  <h2 class="section-title">
    <span class="fa-stack fa-xs">
      <i class="fas fa-circle fa-stack-2x"></i>
      <i class="fas fa-newspaper fa-stack-1x fa-inverse"></i>
    </span>
    {{ projects.title }}
  </h2>

  <div class="summary">
    {{ projects.summary | markdownify }}
  </div><!--//summary-->
  
  {% if projects.items %}
    {% for project in projects.items %}
      <div class="project-item">
        {% if project.title %}
          <div class="project-title">{{ project.title }}</a>></div>
        {% endif %}
        
        {% if project.description %}
          <div class="project-description">
            {{ project.description | markdownify }}
          </div>
        {% endif %}
      </div><!--//project-item-->
    {% endfor %}
  {% endif %}
    
</section><!--//section-->
{% endif %}